*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  padding: 8px;
}

.app-header h1 {
  margin: 16px 0 64px;
}

.cuckoos-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 8px;
}

.cuckoos-list li {
  display: flex;
  align-items: center;
  padding: 12px;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 4px;

	transition: .3s;
}

.cuckoos-list li:hover {
  cursor: pointer;
	transform: translateY(-8px);
}

.cuckoos-list li p {
  font-weight: bold;
  font-size: 12px;
  margin-left: 24px;
}

.cuckoos-img img {
  width: 100px;
  height: auto;
  border-radius: 24px;
}

@media (min-width: 360px) {
  .app-header h1 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .app-header h1 {
    font-size: 2em;
  }
}